<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   {% load static %}
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
   <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    
   <title>{% block title %}{% endblock %}</title>
   <link rel = "icon" href =  "http://localhost:8000/static/images/logo.png"
        type = "image/x-icon">  
</head>
<body>




   <div class="container- fluid">


    <div class="row">
      <nav class="navbar fixed-top bg-light">
        
        <div class="container-fluid">

            <div class="col-sm-2">
            <center><img src="{% static 'images/logo.png' %}" class="responsive-img" style="max-height:75px"/> </center>
            </div>

            <div class="col-sm-10">
              <center><h1>Smart Lab</h1></center>
           </div>

        </div>

      </nav>
    </div>

    <div class="row">
         <br>
         <br>
         <br>
         <br>
    </div>



      <div class="row">
           
        <div class="col-sm-2">
          <!-- <div class="bs-sliderbar"> -->
            <!-- <nav class="navbar flex-column"> -->

              <div class="slidenav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="{% url 'notification' %}">Notification</a>
                <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                <a class="nav-link" href="{% url 'stastics' %}">Statistics</a>
                <a class="nav-link" href="/admin">Manage</a>
              </div>

            <!-- </nav> -->
          <!-- </div> -->
        </div>


        <div class="col-sm-10">
          <div class="container-fluid">
            {% block content %}
  
						{% endblock %}
     			</div>
     		</div>

      </div>

    </div>


</body>
</html>
