{% extends "pages/base.html" %}

{% block title %}Notification{% endblock %}

{% block content %}
<p> 
	<b>[15/12/2020]</b> <i>Hội nghị NCKH khoa Điện sẽ diễn ra vào sáng thứ 4 (7:00) tại TTHL&TT.</i>
</p>

<p> 
	<b>[14/12/2020]</b> <i>Các thành viên CLB họp triển khai công việc vào chiều thứ 4 (16:00) tại phòng CLB.</i>
</p>

<p> 
	<b>[13/12/2020]</b> <i>Các thành viên CLB xem lịch trực trong tuần tới.</i>
</p>




<p> 
	<b>[11/12/2020]</b> <i>AI-Team tiến hành thảo luận vào chiều thứ 7 tuần này (16:00)</i>
</p>

<p> 
	<b>[11/12/2020]</b> <i>Các thành viên CLB xem lại lịch trực (có thay đổi)</i>
</p>

<p> 
	<b>[11/12/2020]</b> <i>Các thành viên CLB họp triển khai công việc vào chiều thứ 7 (15:00) tại phòng CLB</i>
</p>

<p> 
	<b>[10/12/2020]</b> <i>Các nhóm báo cáo tiến độ công việc qua mail: ndthanh@dut.udn.vn.</i>

	<p> 
	<b>[10/12/2020]</b> <i>Các thành viên CLB họp triển khai công việc vào chiều thứ 4 (16:00) tại phòng CLB.</i>
</p>

<p> 
	<b>[9/12/2020]</b> <i>Các thành viên CLB xem lịch trực trong tuần tới.</i>
</p>




<p> 
	<b>[5/12/2020]</b> <i>AI-Team tiến hành thảo luận vào chiều thứ 7 tuần này (16:00)</i>
</p>

<p> 
	<b>[5/12/2020]</b> <i>Các thành viên CLB xem lại lịch trực (có thay đổi)</i>
</p>

<p> 
	<b>[4/12/2020]</b> <i>Các thành viên CLB họp triển khai công việc vào chiều thứ 7 (15:00) tại phòng CLB</i>
</p>

<p> 
	<b>[3/12/2020]</b> <i>Các nhóm báo cáo tiến độ công việc qua mail: ndthanh@dut.udn.vn.</i>
</p>
{% endblock %}