{% extends "pages/base.html" %}

{% block title %}
Smart Lab
{% endblock %}

{% block content %}
{% load static %}



<center><iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="1000" height="480" src="https://charts.mongodb.com/charts-smart-lab-iqzlr/embed/charts?id=1c92097a-7f5c-4dfe-8b00-6e00234c59ae&autoRefresh=10&theme=light"></iframe></center>

<center><iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="1000" height="480" src="https://charts.mongodb.com/charts-smart-lab-iqzlr/embed/charts?id=49a4b83d-4802-42a9-b9fa-07a873d396b8&autoRefresh=10&theme=light"></iframe></center>

<h6 style="text-align: center;">Log Table</h2>
<center>
  <table style="width:1000px">
  <tr>
    <th>No.</th>
    <th>Name</th> 
    <th>Date</th>
    <th>Time</th>
  </tr>
  <tr>
    <td>1</td>
    <td>{{0.ID}}</td>
    <td>{{0.date}}</td>
    <td>{{0.time}}</td>
  </tr>
  <tr>
    <td>2</td>
    <td>{{1.ID}}</td>
    <td>{{1.date}}</td>
    <td>{{1.time}}</td>
  </tr>
  <tr>
    <td>3</td>
    <td>{{2.ID}}</td>
    <td>{{2.date}}</td>
    <td>{{2.time}}</td>
  </tr>
  <tr>
    <td>4</td>
    <td>{{3.ID}}</td>
    <td>{{3.date}}</td>
    <td>{{3.time}}</td>
  </tr>
  <tr>
    <td>5</td>
    <td>{{4.ID}}</td>
    <td>{{4.date}}</td>
    <td>{{4.time}}</td>
  </tr>
  <tr>
    <td>6</td>
    <td>{{5.ID}}</td>
    <td>{{5.date}}</td>
    <td>{{5.time}}</td>
  </tr>
  <tr>
    <td>7</td>
    <td>{{6.ID}}</td>
    <td>{{6.date}}</td>
    <td>{{6.time}}</td>
  </tr>
  <tr>
    <td>8</td>
    <td>{{7.ID}}</td>
    <td>{{7.date}}</td>
    <td>{{7.time}}</td>
  </tr>
  <tr>
    <td>9</td>
    <td>{{8.ID}}</td>
    <td>{{8.date}}</td>
    <td>{{8.time}}</td>
  </tr>
  <tr>
    <td>10</td>
    <td>{{9.ID}}</td>
    <td>{{9.date}}</td>
    <td>{{9.time}}</td>
  </tr>
</table>
</center>



<center><iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="1000" height="480" src="https://charts.mongodb.com/charts-smart-lab-iqzlr/embed/charts?id=9b681c21-d922-466e-807b-fe55e01429ee&autoRefresh=10&theme=light"></iframe></center>


{% endblock %}



<!-- <p> Total people in room: {{0.ID}}</p>
<p> Total people in room: {{1.ID}}</p>
<p> Total people in room: {{2.ID}}</p>
<p> Total people in room: {{3.ID}}</p>
<p> Total people in room: {{4.ID}}</p>
<p> Total people in room: {{5.ID}}</p>
<p> Total people in room: {{6.ID}}</p>
<p> Total people in room: {{7.ID}}</p>
<p> Total people in room: {{8.ID}}</p>
<p> Total people in room: {{9.ID}}</p> -->