#button1 {
	margin: center;
	text-align: center;
	color: blue ;
	font-size: 140%;
	width: 60% ;
	height: 30% ;
	background-color:red;
	border: 3px solid yellow;
	padding: 15px;

}

#button0 {
	margin: center;
	text-align: center;
	color: blue ;
	font-size: 140%;
	width: 60% ;
	height: 30% ;
	background-color:green;
	border: 3px solid yellow;
	padding: 15px;

}

.column {
	float: center;
  	width: 50%;
  	padding: 10px;
  	height: fit-content; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

table, th, td {
  border: 1px solid black;
}
a:link {
  text-decoration: none;
}